<!-- app/views/parks/show.html.erb -->
<h1><%= @park.name %></h1>
<p><strong>Location:</strong> <%= @park.location_description %></p>
<p><strong>Park Category:</strong> <%= @park.park_category %></p>
<p><strong>District:</strong> <%= @park.district %></p>
<p><strong>Classification Type:</strong> <%= @park.classification_type %></p>
<p><strong>Neighbourhood:</strong> <%= @park.neighbourhood %></p>


